.customScrollBar {
    overflow-x: auto;
    scrollbar-color: var(--color-succinct-teal);
    scrollbar-width: 10px;
}


.customScrollBar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
/* Track */
.customScrollBar::-webkit-scrollbar-track {
    /* background: var(--color-succinct-teal);  */
}

/* Handle */
.customScrollBar::-webkit-scrollbar-thumb {
    background: var(--color-succinct-teal);
}