@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: FavoritRegular;
  src: url(ABCFavorit-Regular.otf);
}

@font-face {
  font-family: FavoritBook;
  src: url(ABCFavorit-Book.otf);
}

@font-face {
  font-family: FavoritLight;
  src: url(ABCFavorit-Light.otf);
}

@font-face {
  font-family: IBMPlexMono;
  src: url(IBMPlexMono-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
}

html {
  color-scheme: dark;
}

/* Prevent page from shifting when scrollbar appears */
@media screen and (min-width: 960px) {
  html {
      margin-left: calc(100vw - 100%);
      margin-right: 0;
  }
}

.customScrollBar {
  scrollbar-color: var(--color-succinct-teal);
  scrollbar-width: 10px;
}


.customScrollBar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
.customScrollBar::-webkit-scrollbar-thumb {
  background: var(--color-succinct-teal-80);
}

/* Handle on hover */
.customScrollBar::-webkit-scrollbar-thumb:hover {
  background: var(--color-succinct-teal);
}