.sendChainSelect {
    border-radius: 40px;
    cursor: pointer;
    border: 1px solid transparent;
}

.sendChainSelectFrom {
    background: linear-gradient(var(--color-succinct-teal-10), var(--color-succinct-teal-10)) padding-box, linear-gradient(156deg, var(--color-succinct-teal) 15%, var(--color-succinct-teal-10) 40%) border-box;
}

.sendChainSelectTo {
    background: linear-gradient(var(--color-succinct-teal-10), var(--color-succinct-teal-10)) padding-box, linear-gradient(340deg, var(--color-succinct-teal) 15%, var(--color-succinct-teal-10) 40%) border-box;
}

.sendTextarea {
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;
    background: linear-gradient(var(--color-succinct-teal-10), var(--color-succinct-teal-10)) padding-box, linear-gradient(125deg, var(--color-succinct-teal) 8.73%, var(--color-succinct-teal-10) 39.15%, var(--color-succinct-teal-10) 68.63%, var(--color-succinct-teal) 100%) border-box,
    linear-gradient(0deg, var(--color-succinct-teal-10), var(--color-succinct-teal-10)) border-box;
}

.sendTextareaGradient {
    background: linear-gradient(to top, var(--color-succinct-teal-10) 0%, var(--color-succinct-teal-10) 75%, var(--color-transparent) 100%);
}